:root {
  --font-roboto: "Roboto", sans-serif;
  --primmary-color: #009999;
  --second-color: #3399d3;
  --third-color: #eeee;
  --fourth-color: #666;
  --fifth-color: #33ccff;
  --black-color: #000;
  --white-color: #fff;
}
