.download-item:last-child {
  text-align: left;
}

.download-item .title {
  font-size: 28px;
}

.download-item .description {
  font-size: 15px;
  font-weight: 300;
}

.download-item .btn {
  padding: 15px;
  font-size: 10px;
  line-height: 16px;
  font-weight: 300;
}

/* TODO: Add to late */

/*
Small
 */
@media screen and (min-width: 576px) {
}

/*
Medium
*/
@media screen and (min-width: 768px) {
  .download-item .title {
    font-size: 20px;
    line-height: 28px;
  }

  .download-item .btn {
    font-size: 15px;
    line-height: 18px;
  }
}

/*
Large
*/
@media screen and (min-width: 992px) {
}

/*
X-Large
*/
@media screen and (min-width: 1200px) {
}

/*
XX-Large
*/
@media screen and (min-width: 1400px) {
}
