.feature-group:nth-child(2) .feature-group-item {
  text-align: center;
  font-family: var(--font-robo);
  padding: 20px 0;
}

.feature-group:nth-child(2) .feature-group-title {
  padding-top: 20px;
}

.feature-group:nth-child(3) .feature-group-item {
  font-family: var(--font-robo);
}

.feature-group:nth-child(3) .feature-group-item-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--fourth-color);
  padding-top: 10px;
}
