.pricing-item {
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--eighth-color);
  padding: 0 20px;
}

.pricing-item-title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  padding: 10px 0;
}

.pricing-item-price {
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  color: var(--third-color);
}

.pricing-item-month {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--third-color);
  transform: translateY(-10px);
}

.pricing-item-description {
  text-align: center;
  color: var(--fourth-color);
  padding-bottom: 30px;
  line-height: 28px;
}

.pricing-item > .btn {
  margin: 20px 0;
  padding: 15px 35px;
}

/* TODO: Add to late */

/*
Small
 */
@media screen and (min-width: 576px) {
  .pricing-item {
  }
}

/*
Medium
*/
@media screen and (min-width: 768px) {
}

/*
Large
*/
@media screen and (min-width: 992px) {
}

/*
X-Large
*/
@media screen and (min-width: 1200px) {
}

/*
XX-Large
*/
@media screen and (min-width: 1400px) {
}
