.quote-item {
}

.quote-item-desc {
  font-size: 15px;
  line-height: 30px;
  padding: 20px 0;
}

.quote-item:last-child {
  text-align: center;
}

.quote-item-image {
  width: 85%;
  max-width: 350px;
}

/* TODO: Add to late */

/*
Small
 */
@media screen and (min-width: 576px) {
}

/*
Medium
*/
@media screen and (min-width: 768px) {
  .quote-item-desc {
    font-size: 20px;
    line-height: 30px;
    padding: 20px 0;
  }
}

/*
Large
*/
@media screen and (min-width: 992px) {
  .quote-item-image {
    width: 400px;
  }
}

/*
X-Large
*/
@media screen and (min-width: 1200px) {
}

/*
XX-Large
*/
@media screen and (min-width: 1400px) {
}
