.title {
  padding: 10px 0;
}

.title-bold {
  font-weight: 400;
}

.title-normal {
  font-weight: 300;
}

.title-sm {
  font-size: 18px;
  line-height: 22px;
}

.title-md {
  font-size: 32px;
  line-height: 38px;
}
