.title {
  color: var(--third-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 0;
}

.title.bold {
  font-family: var(--font-robo);
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
}
