.all-plans-wrapper {
}

.plans {
  display: grid;
  gap: 30px;
}

.all-plans-title {
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;
}

/* TODO: Add to late */
/*
mobile devices - sm
 */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .plans {
    grid-template-columns: 1fr;
  }
}

/*
iPads & tablets - md
*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .plans {
    grid-template-columns: 1fr 1fr;
  }
}

/*
styles common mobile and ipads: c-md
*/
@media screen and (min-width: 320px) and (max-width: 768px) {
}

/*
small screens like laptop : lg
*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/*
large screens like Desktops: xl
*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

/*
 small screens like laptop and large screens like Desktops: c-xl
 */
@media screen and (min-width: 769px) {
  .plans {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
