.all-plans-wrapper {
}

.plans {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.all-plans-wrapper > .heading > .heading-title {
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;
}

/* TODO: Add to late */

/*
Small
 */
@media screen and (min-width: 576px) {
  .plans {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

/*
Medium
*/
@media screen and (min-width: 768px) {
}

/*
Large
*/
@media screen and (min-width: 992px) {
  .plans {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*
X-Large
*/
@media screen and (min-width: 1200px) {
}

/*
XX-Large
*/
@media screen and (min-width: 1400px) {
}
