.template-wrapper {
  background-color: var(--sixth-color);
}

.template-item {
  display: grid;
  gap: 30px;
}

.template-image {
  background-color: transparent;
  position: relative;
  text-align: center;
}

.image {
  width: 250px;
  transform: translateX(-50px);
}

.image-absolute {
  width: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(calc(-50% + -3px))
    translateY(calc(-50% + -26px));
}

.template-details .title {
  text-align: center;
}

.template-list-tick {
  padding: 20px 0;
}

/* TODO: Add to late */

/*
Small
 */
@media screen and (min-width: 576px) {
  .template-item {
    grid-template-columns: repeat(1, 1fr);
  }

  .template-details {
    padding: 30px 0;
  }

  .image {
    width: 508px;
  }

  .image-absolute {
    width: 180px;
    transform: translateX(calc(-50% + 45px))
      translateY(calc(-50% + -50px));
  }
}

/*
Medium
*/
@media screen and (min-width: 768px) {
}

/*
Large
*/
@media screen and (min-width: 992px) {
  .template-item {
    grid-template-columns: repeat(2, 1fr);
  }

  .template-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .template-details .title {
    text-align: left;
  }
}

/*
X-Large
*/
@media screen and (min-width: 1200px) {
}

/*
XX-Large
*/
@media screen and (min-width: 1400px) {
}
