.download {
  background-image: url(../../assets/images/object.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.download-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 200px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 30px;
}

/* TODO: Add to late */

/*
Small
 */
@media screen and (min-width: 576px) {
}

/*
Medium
*/
@media screen and (min-width: 768px) {
}

/*
Large
*/
@media screen and (min-width: 992px) {
  .download-wrapper {
    grid-template-columns: 2fr 1fr;
  }
}

/*
X-Large
*/
@media screen and (min-width: 1200px) {
}

/*
XX-Large
*/
@media screen and (min-width: 1400px) {
}
