.map {
  background: var(--eleventh-color);
}

.map-wrapper {
  min-height: 500px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
}

.map-item > .title {
  font-weight: 400;
  font-size: 22px;
  padding: 20px 0;
}

.map-item {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.map-item:last-child {
  display: none;
}

/* TODO: Add to late */

/*
Small
 */
@media screen and (min-width: 576px) {
}

/*
Medium
*/
@media screen and (min-width: 768px) {
  .map {
    background: var(--eleventh-color)
      url(../../assets/images/object.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .map-wrapper {
    min-height: 500px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .map-item:last-child {
    display: block;
  }
}

/*
Large
*/
@media screen and (min-width: 992px) {
  .map-item > .title {
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
  }
}

/*
X-Large
*/
@media screen and (min-width: 1200px) {
}

/*
XX-Large
*/
@media screen and (min-width: 1400px) {
}
