.need-help-wrapper {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.need-help-wrapper .heading {
  padding-bottom: 10px;
}

.need-help-wrapper .heading-title {
  color: var(--primary-color);
}
