.pricing-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* .list-pricing {
  display: flex;
  align-self: center;
  justify-content: center;
} */

.list-pricing {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 20px;
}

/* TODO: Add to late */

/*
Small
 */
@media screen and (min-width: 576px) {
  .list-pricing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

/*
Medium
*/
@media screen and (min-width: 768px) {
  .list-pricing {
    display: grid;
    grid-template-columns: 240px 240px 240px;
    gap: 0;
  }
}

/*
Large
*/
@media screen and (min-width: 992px) {
}

/*
X-Large
*/
@media screen and (min-width: 1200px) {
}

/*
XX-Large
*/
@media screen and (min-width: 1400px) {
}
