.pricing-wrapper {
  padding: 40px 0;
}

.list-pricing {
  display: flex;
  align-self: center;
  justify-content: center;
}

/* TODO: Add to late */
/*
mobile devices - sm
 */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .list-pricing {
    grid-template-columns: 1fr;
  }
}

/*
iPads & tablets - md
*/
@media screen and (min-width: 481px) and (max-width: 768px) {
}

/*
styles common mobile and ipads: c-md
*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .list-pricing {
    display: grid;
  }
}

/*
small screens like laptop : lg
*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/*
large screens like Desktops: xl
*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

/*
 small screens like laptop and large screens like Desktops: c-xl
 */
@media screen and (min-width: 769px) and (max-width: 1200px) {
}
