.quote-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 30px;
}

.quote-item:first-child {
  color: black;
}

/* TODO: Add to late */

/*
Small
 */
@media screen and (min-width: 576px) {
  .quote-wrapper {
    min-height: 480px;
    align-items: center;
  }
}

/*
Medium
*/
@media screen and (min-width: 768px) {
}

/*
Large
*/
@media screen and (min-width: 992px) {
  .quote-wrapper {
    min-height: 580px;
    align-items: center;
  }
  .quote-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*
X-Large
*/
@media screen and (min-width: 1200px) {
}

/*
XX-Large
*/
@media screen and (min-width: 1400px) {
}
