* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #919191;
  --white-color: #fff;
  --blue-color: #3b71ca;
}

#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #ff2a, #fa22, #fa24);
}

#todo {
  width: 550px;
  min-height: 400px;
  background-color: #fff;
  box-shadow: -2px -2px 10px 2px #c4c0c0, 10px 12px 10px 2px #585555;
  border-radius: 10px;
  padding: 20px;
}

#todo_title > h4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #4f4f4f;
}

#todo_form {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

#todo_form > #text_field {
  position: relative;
  flex: 1;
  display: block;
  margin-right: 20px;
  box-shadow: 0 0 0 1px var(--text-color);
  padding: 0 20px;
  cursor: pointer;
  border-radius: 5px;
}

#todo_form > #text_field > input {
  width: 100%;
  padding: 15px 0;
  outline: none;
  border: none;
  font-size: 18px;
  background-color: transparent;
}

.span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin: 0 20px;
  padding: 0 2px;
  transition: 0.3s;
  color: var(--text-color);
}

.span.active_span {
  top: 0;
  color: var(--blue-color);
  background-color: var(--white-color);
}

.active {
  box-shadow: 0 0 0 1px var(--blue-color) !important;
}

#btn_add {
  padding: 10px 25px;
  background-color: var(--blue-color);
  color: var(--white-color);
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 #8b8888;
}

#btn_add:hover {
  box-shadow: 0 2px 5px 0 rgb(95, 94, 94);
}

#todo_list {
  padding: 10px 0;
}

.todo_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: 0 1px 0 0 var(--text-color);
}

.text {
  flex: 1;
  cursor: pointer;
}

.text > input {
  --data: 17px;
  width: var(--data);
  height: var(--data);
  cursor: pointer;
}

.text > input:checked + span {
  text-decoration: line-through;
}

.text > span {
  padding: 0 10px;
  font-size: 18px;
}

.btn_remove > span {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: var(--blue-color);
  cursor: pointer;
}
