:root {
  --font-merri: "Merriweather", serif;
  --font-mont: "Montserrat", sans-serif;
  --font-robo: "Roboto", sans-serif;
  --primary-color: #6fb048;
  --second-color: #2d7370;
  --third-color: #0f5f5c;
  fourth-color: #83a7a5;
  --fifth-color: #f2f2f2;
  --sixth-color: #f2f2f2;
  --seventh-color: #6a8082;
  --eighth-color: #eef1ec;
  --ninth-color: #fff;
}
