.btn {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
  color: #fff;
}

.btn-primmary {
  background-color: var(--primmary-color);
}

.btn-default {
  color: var(--fourth-colo);
}
